{% extends 'base.html.twig' %}

{% block title %}
    Politique de confidentialité
{% endblock %}

{% block body %}

    <h1 class="main-title">
        Politique de confidentialité
    </h1>

    <div class="politique-de-confidentialite mt-50">
        <h3>
            DÉFINITIONS
        </h3>

        <ul class="mb-50">
            <li>L'éditeur : WildWonderHub</li>
            <li>Le site : <u>https://zoo-de-la-palmyre.com</u></li>
            <li>L'utilisateur : la personne visitant et utilisant les services du site.</li>
        </ul>

        <h5>
            1 - NATURE DES DONNÉES COLLECTÉES
        </h5>
        Dans le cadre de l'utilisation de l'ensemble du site, l'éditeur est susceptible de collecter les catégories de données suivantes concernant ses utilisateurs :
        <ul>
            <li>- Données de contact (prénom, nom, adresse email et numéro de téléphone...)</li>
            <li>- Données de connexion (adresses IP, journaux d'événements...)</li>
        </ul>

        <h5>
            2 - COMMUNICATION DES DONNÉES PERSONNELLES À DES TIERS
        </h5>
        <p>
            <u>Pas de communication à des tiers</u>
            <br />
            <br />
            Vos données ne font l'objet d'aucune communication à des tiers. Vous êtes toutefois informés qu'elles pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité réglementaire ou judiciaire compétente.
        </p>

        <h5>
            3 - AGRÉGATION DES DONNÉES
        </h5>
        <p>
            <u>Agrégation avec des données non personnelles</u>
            <br />
            <br />
            Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous nos utilisateurs ou à des groupes ou catégories spécifiques d'utilisateurs que nous combinons de manière à ce qu'un Utilisateur individuel ne puisse plus être identifié ou mentionné) et les informations non personnelles à des fins d'analyse du secteur et du marché, de profilage démographique, à des fins promotionnelles et publicitaires.
        </p>

        <h5>
            4 - COLLECTE DES DONNÉES D'IDENTITÉ
        </h5>
        <p>
            <u>Consultation libre</u>
            <br />
            <br />
            La consultation du site ne nécessite pas d'inscription ni d'identification préalable. Elle peut s'effectuer sans que vous ne communiquiez de données nominatives vous concernant (nom, prénom, adresse, etc). Nous ne procédons à aucun enregistrement de données nominatives pour la simple consultation du site.
            <br />
            Il faudra toutefois s'authentifier ou s'inscrire pour pouvoir profiter des fonctionnalités que peuvent proposer ce site.
        </p>

        <h5>
            5 - COLLECTE DES DONNÉES DU TERMINAL
        </h5>
        <p>
            <u>Collecte des données techniques à des fins publicitaires, commerciales et statistiques</u>
            <br />
            <br />
            Les données techniques de votre appareil sont susceptibles d'être collectées automatiquement et enregistrées par le site, à des fins statistiques.
            Ces informations nous aident à personnaliser et à améliorer continuellement votre expérience sur notre Site. Nous ne collectons ni ne conservons
            aucune donnée nominative (nom, prénom, adresse...) éventuellement attachée à une donnée technique.
        </p>

        <h5>
            6 - COOKIES
        </h5>
        <p>
            <u>Durée de conservation des cookies</u>
            <br />
            <br />
            Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13 mois au maximum après
            leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité du consentement de l'utilisateur à l’utilisation de ces cookies.
            La durée de vie des cookies n’est pas prolongée à chaque visite. Le consentement de l’utilisateur devra ainsi être renouvelé à l'issue de ce délai.
        </p>

        <h5>
            7 - CONSERVATION DES DONNÉES TECHNIQUES
        </h5>
        <p>
            <u>Durée de conservation des données techniques</u>
            <br />
            <br />
            Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des finalités visées précédemment.
        </p>

        <h5>
            8 - DÉLAI DE CONSERVATION DES DONNÉES PERSONNELLES ET D'ANONYMISATION
        </h5>
        <p>
            <u>Conservation des données pendant la durée de la relation contractuelle.</u>
            <br />
            <br />
            Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont pas conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la conclusion du contrat ou de la durée prédéfinie de la relation contractuelle.
            <br />
            Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation des finalités décrites dans les présentes politiques de confidentialité. Au-delà de cette durée, elles seront anonymisées et conservées à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque nature que ce soit.
        </p>

        <h5>
            9 - INDICATIONS EN CAS DE FAILLE DE SÉCURITÉ DÉCELÉE PAR L'ÉDITEUR
        </h5>
        <p>
            <u>Information de l'utilisateur en cas de faille de sécurité</u>
            <br />
            <br />
            Nous nous engageons à mettre en œuvre toutes les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés ou illégaux, de divulgation, d'altération, de perte ou encore de destruction des données personnelles vous concernant. Dans l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous concernant stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à :
        </p>
            <ul>
                <li>- Vous avertir de l'incident dans les plus brefs délais</li>
                <li>- Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs et préjudices pouvant résulter dudit incident</li>
            </ul>

        <h5>
            10 - TRANSFERT DES DONNÉES PERSONNELLES À L'ÉTRANGER
        </h5>
        <p>
            <u>Pas de transfert en dehors de l'Union européenne</u>
                <br />
                <br />
            L'Éditeur s'engage à ne pas transférer les données personnelles de ses utilisateurs en dehors de l'Union Européenne.
        </p>

    </div>

{% endblock %}


